{% extends "base.html" %}

{% block content %}

<div class="container mt-5 mb-5">
  <h3 class="m-auto" style="width:200px; height:50px; border:1px solid gray; font-size:20px; text-align:center;"><b>Transaction Report</b></h3>


  <div class="alert alert-info mt-5">
      <strong>Total Balance:</strong> {{ remaining_balance }} Taka
  </div>


  <table class="table table-bordered">
      <thead>
          <tr>
              <th>Book Name</th>
              <th>Book Price</th>
              <th>Remaining Balance</th>
              <th>Date</th>
          </tr>
      </thead>
      <tbody>
          {% for transaction in transactions %}
          <tr>
              <td>{{ transaction.book.title }}</td>
              
              <td>
                  {% if transaction.book %}
                      {{ transaction.book.borrowing_price }} Taka
                  {% endif %}
              </td>

              <td>{{ transaction.remaining_balance }} Taka</td>
              
              <td>{{ transaction.date }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>


{% endblock content %}